* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Inter, sans-serif;
    background-color: var(--white-color);
    color: var(--black-color);
    height: 100%; /*!*/
}

ul {
    list-style-type: none;
}

h1, h2 {
    margin: 20px 0;
}

/*------------*/

:root {
    --black-color: #0a0a0a;
    --white-color: #fcf0c8;
    --primary-color: #ff6600;
    --secondary-color: #7cb490;

    --transition: all .10s ease-in;
}

/*------------*/

.wrapper {
    min-height: 100%; /*!*/
    display: flex; /*!*/
    flex-direction: column; /*!*/
}

.container {
    max-width: 750px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black-color);
}

.header > a {
    color: var(--white-color);
    padding: 16px 30px;
    text-decoration: none;
    transition: var(--transition);
}

.header > a:hover, .active-link {
    background-color: var(--primary-color);
}

.header-title {
    text-align: center;
    font-weight: 900;
    font-size: 42px;
}

mark {
    background-color: var(--secondary-color);
}

.header-subtitle {
    margin: 20px;
    text-align: center;
}

.header-subtitle a {
    color: var(--secondary-color);
}

/*------------*/

.main {
    min-height: calc(100vh - 70px - 52px);
}

/*------------*/

.footer {
    background-color: var(--black-color);
    font-size: 12px;
    color: var(--secondary-color);
    text-align: center;
    padding: 20px 0;
}

.footer a {
    color: var(--white-color);;

    transition: var(--transition);
}

.footer a:hover {
    background-color: var(--secondary-color);
    color: var(--black-color);;
}

.posts-list {
    margin: 20px 0 40px;
}

.posts-list__item {
    padding: 5px 0;
    transition: var(--transition);
    color: var(--black-color);
}

.posts-list__item:hover {
    background-color: var(--primary-color);
}

.singlepage {
    padding: 20px 0;
}